@charset "UTF-8";

.container {
    width: 60%;
    margin: 8em auto 8em auto
}

.error
{
	color: red;
	font-size: 10px;
	display: block;
}

#warningTxt{
	color: red;
}

#idCheckBtn{
	padding: 10px;  
	color: #fff; 
	background-color: yellowgreen; 
	font-weight: bold;
	display: block; 
	text-align: center; 
	text-decoration: none;	
	margin: 1em;
}
.redTxt {
	color: #ee7272;
}

ul, li {
	list-style: none;
}
.btn_wrap {
	text-align: center;
	margin: 40px 0 30px;
}

.btn_wrap .cancel {
	background-color: lightgray;
}

.btn_wrap .join {
	background-color: #4380ce;
}

.joinForm table th {
	text-align: left;
}

.joinForm table td {
	padding: 6px 0;
	position: inherit;
	display: inline-block;
}

.joinForm table th .required:after {
	content: '*';
	font-size: 13px;
	color: #f95427;
	position: absolute;
	top: 0;
	right: 0px;
}
.btn_wrap a {
	font-weight: bold;
	padding: 10px;
	height: 30px;
	line-height: 30px;
	width: 168px;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	text-decoration: none;
	color: darkslategray;
}

.joinForm {
	width: 100%;
}

.joinForm table {
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
}

.joinForm table input {
	border: 1px solid #ececec;
	font-size: 14px;
	color: #4c4c4c;
	height: 35px;
	padding: 10px;
	width: 20em;
	float: left;
}

.joinForm table th span {
	color: #404040;
	font-size: 14px;
	display: inline-block;
	position: relative;
	padding: 0 10px 0 0;
	text-indent: 20px;
}
