@charset "UTF-8";
body {height:100%; font-family: 'Noto Sans KR';}

.container{
	width: 60%;
	margin: 0 auto 0 auto;
} 
.bTable{
	width: 100%;
	text-align: left;
	border : 1px solid #ececec;
}
.bTable td{
	padding: 3em;
}
.bTable th{
	text-align: center;
}
.space{
	margin-top: 10em;
}
.btnGroup{
	float: right;
	margin-top: 0.5em;
}

.btn{
	border : 1px solid #ececec;
	padding: 1em 3em 1em 3em;
	font-weight: bold;
}

/* .fileUploadLabel{
  padding: 6px 25px;
  background-color:#FF6600;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.fileUploadBtn{
	display: none;
} */

.input{
	width: 100%;
	border: 1px solid #ececec;
    font-size: 14px;
    color: #4c4c4c;
    padding: 10px;
}

.title {
	height: 35px;
}

.textarea {
	height: 100%;
	resize: none;
}

.filename{
	color: red;	
}