<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
    </Appenders>
	<Loggers>
	    <!-- Application Loggers -->
		<Logger name="com.board.controller" level="INFO">
			<AppenderRef ref="console"/>
		</Logger>
		<Logger name="com.board.biz" level="INFO">
			<AppenderRef ref="console"/>
		</Logger>
		<Logger name="com.board.dto" level="INFO">
			<AppenderRef ref="console"/>
		</Logger>
		<Logger name="com.board.util" level="INFO">
			<AppenderRef ref="console"/>
		</Logger>
		
		<!-- 3rdparty Loggers -->
		<Logger name="org.springframework.core" level="INFO"/>
		<Logger name="org.springframework.beans" level="INFO"/>
		<Logger name="org.springframework.context" level="INFO"/>
		<Logger name="org.springframework.web" level="INFO"/>
	
		<!-- Root Logger -->
		<Root level="error">
			<AppenderRef ref="console"/>
		</Root>
	</Loggers>
</Configuration>
